@model AffinidiHackathon.Models.MyPendingCredentialsViewModel
@{
    ViewBag.Title = "MyPendingCredentials";
}

<div class="container col-xl-10 col-xxl-8 px-4 py-5">
    <div class="row align-items-center g-5 py-5">
        <div class="col-lg-3 text-center text-lg-start">
            <h1 class="display-4 fw-bold lh-1 mb-3">My Pending Credentials</h1>
        </div>
        <div class="col-10 mx-auto col-lg-8">
            <table class="table table-striped table-sm">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var credential in Model.Credentials)
                    {
                        using (Html.BeginForm())
                        {
                        <tr>
                            <td>@Html.Hidden("id", credential.signedCredential.id.Replace("claimId:", "")) @credential.signedCredential.id</td>
                            <td><input type="submit" value="Save in my wallet" class="btn btn-info" /></td>
                        </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>