@model AffinidiHackathon.Models.ShareCredentialViewModel

@{
    ViewBag.Title = "Share";
}

         <div class="px-4 py-5 my-5 text-center">
             <h1 class="display-5 fw-bold">Share credentials</h1>
             <div class="col-lg-6 mx-auto">
                 <p class="lead mb-4">
                     Here is the url you can share: <br />
                     <a href="@Model.Share.sharingUrl" target="_blank">@Model.Share.sharingUrl</a>
                 </p>
             </div>
             <div class="col-lg-6 mx-auto">
                 <p class="lead mb-4">
                     And the QR code:<br />
                     <img src="@Model.Share.qrCode" alt="QR code" />
                 </p>
             </div>
         </div>